/* Подключение шрифта Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #1a1a1a; /* Темный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
}

.container {
  text-align: center;
  background-color: white;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 320px;
  border: 2px solid #0078ff; /* Синий акцент */
}

h1 {
  font-size: 22px;
  margin: 0;
  margin-bottom: 16px;
  color: black;
  font-weight: 700;
}

.gif-wrapper {
  margin-bottom: 16px;
}

.gif-wrapper img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

p {
  font-size: 14px;
  color: black;
  margin-bottom: 24px;
  font-weight: 400;
}

.btn {
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #005bb5;
}
