@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Montserrat", serif;
  background-color: #1a1a1a; /* Темный фон */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.welcome-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  flex-direction: column;
}

.container {
  text-align: center;
  background-color: white;
  padding: 24px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 393px;
  height: calc(100vh - 40px); /* Для всех экранов */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > *:not(.btn) {
  margin-top: 50px;
}

h1 {
  font-size: 6vw; /* Гибкий размер для всех экранов */
  font-weight: 700;
  margin: 0;
  color: black;
}

.gif-wrapper img {
  width: 40%;
  max-width: 228px;
  max-height: 228px;
  object-fit: cover;
}

p {
  font-size: 4.5vw;
  font-weight: 700;
  color: black;
  text-align: center;
}

.btn {
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 12px 20px;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 249px;
  height: 52px;
  align-self: center;
  margin-top: auto;
}

.btn:hover {
  background-color: #005bb5;
}

/* Медиа-запросы для популярных экранов */

/* Iphone SE */
@media (max-width: 375px) and (max-height: 667px) {
  .container {
    height: calc(100vh-40px);
  }

  h1 {
    font-size: 36px;
  }

  .gif-wrapper img {
    width: 150px;
    height: 150px;
  }

  p {
    font-size: 22px;
  }

  .btn {
    width: 230px;
    height: 50px;
    font-size: 18px;
  }
}


/* Pixel 5 (393x851) */
@media (min-width: 393px) and (max-width: 393px) and (min-height: 851px) and (max-height: 851px) {
  .container {
    height: calc(100vh - 40px);
  }

  h1 {
    font-size: 36px;
  }

  .gif-wrapper img {
    width: 160px;
    height: 160px;
  }

  p {
    font-size: 22px;
  }

  .btn {
    width: 230px;
    height: 50px;
  }
}


/* iPhone 12 Pro (390x844) */
@media (min-width: 390px) and (max-width: 390px) and (min-height: 844px) and (max-height: 844px) {
  .container {
    height: calc(100vh-30px);
    padding: 60px;
  }

  h1 {
    font-size: 50px;
  }

  .gif-wrapper img {
    width: 160px;
    height: 160px;
  }

  p {
    font-size: 30px;
  }

  .btn {
    width: 280px;
    height: 60px;
    font-size: 20px;
  }
}

/* iPhone XR(414x896) & Pixel 7 (412x915)*/
@media (min-width: 412px) and (max-width: 414px) and (min-height: 896px) and (max-height: 915px) {
  .container {
    height: calc(100vh-30px);
    padding: 60px;
  }

  h1 {
    font-size: 50px;
  }

  .gif-wrapper img {
    width: 180px;
    height: 180px;
  }

  p {
    font-size: 30px;
  }

  .btn {
    width: 280px;
    height: 60px;
    font-size: 20px;
  }
}


/* iPhone 14 Pro Max (430x932) */
@media (min-width: 430px) and (max-width: 430px) and (min-height: 932px) and (max-height: 932px) {
  .container {
    height: calc(100vh-40px);
    padding: 80px;
  }

  h1 {
    font-size: 50px;
  }

  .gif-wrapper img {
    width: 200px;
    height: 200px;
  }

  p {
    font-size: 34px;
  }

  .btn {
    width: 280px;
    height: 60px;
    font-size: 20px;  
  }
}


@media (min-width: 375px) and (max-width: 375px) and (min-height: 812px) and (max-height: 812px) {
  .container {
    height: calc(100vh-40px);
    padding: 60px;
  }

  h1 {
    font-size: 50px;
  }

  .gif-wrapper img {
    width: 150px;
    height: 150px;
  }

  p {
    font-size: 30px;
  }

  .btn {
    width: 240px;
    height: 50px;
    font-size: 18px;
  }
}

@media (min-width: 360px) and (max-width: 360px) and (min-height: 760px) and (max-height: 760px) { 
  .container {
    height: calc(100vh-40px);
    padding: 60px;
  }

  h1 {
    font-size: 50px;
  }

  .gif-wrapper img {
    width: 150px;
    height: 150px;
  }

  p {
    font-size: 30px;
  }

  .btn {
    width: 220px;
    height: 50px;
    font-size: 18px;
  }
}





